<%= form_with(model: document) do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
        <% document.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %><span class="text-danger ml-1">*</span>
    <%= form.text_field :title, class: "form-control form-control-lg", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :description %><span class="text-danger ml-1">*</span>
    <%= form.text_area :description, class: "form-control form-control-lg", rows: 5, required: true %>
  </div>

  <div class="form-group">
    <%= form.label :upload_your_pdf_file_here %><span class="text-danger ml-1">*</span><br>
    <%= form.file_field :doc_file, required: true %>
  </div>

  <div class="form-group">
    <%= form.submit class: "btn btn-success" %>
    <%= link_to 'Back', documents_path, class: "btn btn-outline-success" %>
  </div>
<% end %>
